@import url('font-awesome.min.css');

.contIco {
	position: absolute; 
	color: #ccc; 
	font-size: 16px; 
	width: 20px; 
	height: 20px; 
	right: 20px; 
	top: 12px;
}


    /*-----------------------------------------------------------------*/
#mbmainform {position:relative;left:0;top:0;}
#mbmainform .mbform-row form { display: block;    position: absolute;    width: 100%;     z-index: 99999;    left: 0; top:0;padding:0 5em;}
#mbmainform .mbform-row form .mbform-md-2{    width: 23%; margin: 0 0.3%;     float: left;    display: block;    overflow: hidden; padding:0.3em 0;}
#mbmainform .mbform-row label{ position:absolute;left:-999999em;}
#mbmainform .mbform-row input{ }
#mbmainform .mbform-row button[type="submit"]{font-size:1.2em;padding:0.59em 0.4375em;margin: 0.3em 0.3%;   }
#mbmainform .mbform-row button[type="submit"]:hover{}

/*-----------------------------------------------------------------*/
#mbmainform.green .mbform-row form {background-color:#5880a4;color:#fff;}
#mbmainform.green .mbform-row input{color:#5880a4;}
#mbmainform.green .mbform-row button[type="submit"]{ color:#fff;background-color:#69b0c9;}
/*-----------------------------------------------------------------*/


#mbmainform .mbmainform {position: fixed; left:0;top:0;width: 100%; z-index: 9999; min-height: 35px; padding-top: 5px; padding-bottom: 15px;}
#mbmainform .mbmainform .form-group { margin-bottom: -5px; }
#mbmainform .mbmainform input {height: 30px}
#mbmainform .tpl_blue { background: #1f3c73; }
#mbmainform .tpl_red { background: #B11623; }
#mbmainform .tpl_green { background: #79BD9A; }

#mbmainform .btnResMotor {
	padding: 6px 12px;
	margin: 6px 0 0 10px;
	height: 30px;
	text-transform: uppercase;
	font-size: 16px;
}

#mbmainform button[type="submit"].tpl_green{ background: #0B486B; }
#mbmainform button[type="submit"].tpl_blue{ background: #00B4CC; }
#mbmainform button[type="submit"].tpl_red{ background: #040004; }

/***********Media Queries***********************/

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

			#mbmainform input.txt-mini { font-size: 10px;}
    }







/***OVERRIDES CARDINAL TEMPLATE****/
.header-wrap, .header-standard-overlay #header, .vertical-header .header-wrap #header-section, #header-section .is-sticky #header.sticky-header {
	margin-top: 50px !important;
}

#mobile-logo.has-img { margin-top: 100px; }
.menu-bars { width: 100px; }
.menu-bars-link { margin-top: 50px; }
.mobile-header-opts { top: 70% !important; width: 70px; }
a.mobile-menu-link span.menu-bars, a.mobile-menu-link span.menu-bars:before, a.mobile-menu-link span.menu-bars:after { width: 40px !important; }
a.mobile-menu-link { width: 40px !important }
.a.mobile-menu-link span.menu-bars:before {top: 10px !important;}
.mobile-header-opts.opts-right, .mobile-left-logo .mobile-header-opts { right: 0 !important }
#logo img.retina { width: auto !important; margin-top: 15px; }
#logo img.standard { margin-top: 15px; }

/******FIN OVERRIDES CARDINAL TEMPLATE******************/



